
<div class="w-full bg-teal-100 h-screen flex ">
    <div id="mainpg" class=" bgg items-center flex justify-center flex-1 flex-col py-4 sm:px-4 md:px-8 lg:px-16">
        <div class="sm:text-center lg:text-left py-5">
            <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
            Search a
            <!-- <br class="xl:hidden"> -->
            <span class="text-teal-600">GIF</span>
            </h2>
            
        </div>
        <div class="w-4/5  lg:max-w-xl ">
            <div class="relative mr-6 my-2 flex-1 w-full">
                <input required id="srchinput" (ngModelChange)="research()" [(ngModel)]="searchKey" (keyup.enter)="searchImages()" type="search" class="bg-gray-100 flex-1 focus:bg-white w-full font-bold shadow-xl text-gray-800 rounded-xl border-0 p-4" placeholder="Type Something.....">
                <div class="absolute pin-r pin-t bg-teal-300 rounded-xl inset-y-0 right-0 flex items-center">
                    <span *ngIf="searched == false"class=" p-4 text-teal-800 cursor-pointer"(click)="searchImages()" ><i class="fa fa-search fa-1x"></i> </span>
                    <span *ngIf="searched == true"class=" p-4 text-teal-800 cursor-pointer" (click) ="clearSearch()"><i class="fa fa-close fa-1x"></i> </span>
              
                </div>
            
        </div>
        <app-footer> </app-footer>
    </div>
    <div *ngIf="searched" class="flex shadow-lg w-full rounded-xl bg-white flex-1  px-8 overflow-y-scroll z-50">
        <div *ngIf="!showResult" class="w-full flex">
            <div *ngIf="srchResults.length == 0" class="w-full flex flex-col justify-center items-center"> 
                <img src="../../assets/images/notfound.png" class="ntfound w-64 lg:max-w-xl" />
                <p class="text-2xl font-bold text-gray-400"> No Result Found</p>
            </div>
            
            <div *ngIf="srchResults.length >= 1" class="w-full">
                <span class="flex-1 flex text-teal-800 flex-row justify-end align-right py-3 " >
                    <span class="bg-gray-300 text-gray-600 text-sm cursor-pointer" (click)="backPage()"> <i class="fa fa-arrow-circle-left fa-1x p-2"></i> Previous &nbsp;</span>&nbsp;
                    <span class="bg-gray-300 text-gray-600 text-sm cursor-pointer" (click)="nextPage()">&nbsp; Next <i class="fa fa-arrow-circle-right fa-1x p-2"></i></span>
                </span>
                <div class="w-full grid grid-cols-2 gap-2 lg:grid-cols-4 lg:gap-2  p-1 lg:p-2 ">
                    <span *ngFor="let res of srchResults" class="p-4 text-base cursor-pointer flex-row text-teal-900" (click)="viewDetails(res)">
                        <img [src]='res.images.fixed_width_small.url' width="32" height="32" />
                        <span>{{res.title}} <br /> {{res.import_datetime}}</span>
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="showResult" class="w-full flex flex-col">
            <span class="flex text-teal-800 align-left py-3 cursor-pointer" (click)="goBack()"><i class="fa fa-arrow-left fa-1x"></i></span>
            <app-results-list [imgDetails]="imgDetails"> </app-results-list>
        </div>
    </div>
    
</div>
